In [1]:
import csv

In [2]:
file_open = open("company data.csv", mode = "r")
file_open

In [3]:
read_file = csv.reader(file_open)
read_file

In [4]:
data = list(read_file)
data

[['roll no', 'Name', 'Chemistry', 'Physics', 'Math'],
 ['101', 'Aliza', '50', '23', '87'],
 ['102', 'Fareed', '45', '24', '88'],
 ['103', 'Basit', '46', '25', '89'],
 ['104', 'Abdullah', '47', '26', '90'],
 ['105', 'Ali', '48', '27', '67'],
 ['106', 'Mubashir', '49', '28', '68'],
 ['107', 'Waleed', '50', '29', '69'],
 ['108', 'Mansoor', '51', '30', '70'],
 ['109', 'Zain', '52', '31', '71'],
 ['110', 'Mohsin', '53', '67', '72'],
 ['111', 'Shahmeer', '54', '68', '73'],
 ['112', 'Rao', '55', '69', '74'],
 ['113', 'Aurangzeb', '56', '70', '75'],
 ['114', 'Zeeshan', '57', '71', '76'],
 ['115', 'Hamna', '58', '72', '77'],
 ['116', 'Hamza', '59', '73', '78'],
 ['117', 'Khalid', '60', '74', '79'],
 ['118', 'Behroz', '61', '75', '80'],
 ['119', 'Justin', '62', '76', '81'],
 ['120', 'Danish', '63', '77', '82'],
 ['121', 'Kainat', '64', '78', '83'],
 ['122', 'Sameer', '65', '79', '84'],
 ['123', 'Raza', '66', '80', '85'],
 ['124', 'Kumar', '67', '81', '86'],
 ['125', 'Komal', '68', '82', '87'],
 ['126', 'Erum', '69', '83', '88'],
 ['127', 'Faiza', '70', '84', '89'],
 ['128', 'Saeed', '71', '85', '90'],
 ['129', 'Waqar', '72', '86', '91'],
 ['130', 'Wali', '73', '87', '92'],
 ['131', 'Wajid', '74', '88', '93'],
 ['132', 'Waseeb', '75', '89', '94'],
 ['133', 'Shiza', '76', '90', '95'],
 ['134', 'Shabina', '77', '91', '96'],
 ['135', 'Shazain', '78', '55', '97'],
 ['136', 'Lubna', '79', '61', '98'],
 ['137', 'Laiba', '80', '88', '78'],
 ['138', 'Khursheed', '81', '56', '45'],
 ['139', 'Ali', '82', '89', '46'],
 ['140', 'Aiza', '83', '45', '89'],
 ['141', 'Aiman', '84', '92', '78'],
 ['142', 'Yasmeen', '85', '36', '56'],
 ['143', 'Tasbeel', '86', '78', '78'],
 ['144', 'Laraib', '87', '56', '54'],
 ['145', 'Saleem', '88', '78', '78'],
 ['146', 'Bismil', '89', '89', '46'],
 ['147', 'Batool', '90', '56', '79'],
 ['148', 'Iqra', '91', '33', '46'],
 ['149', 'Zarnish', '92', '78', '45'],
 ['150', 'Zara', '83', '45', '56']]

In [5]:
header = data[0]

In [6]:
header

['roll no', 'Name', 'Chemistry', 'Physics', 'Math']

In [7]:
company_data = data[1:]
company_data

[['101', 'Aliza', '50', '23', '87'],
 ['102', 'Fareed', '45', '24', '88'],
 ['103', 'Basit', '46', '25', '89'],
 ['104', 'Abdullah', '47', '26', '90'],
 ['105', 'Ali', '48', '27', '67'],
 ['106', 'Mubashir', '49', '28', '68'],
 ['107', 'Waleed', '50', '29', '69'],
 ['108', 'Mansoor', '51', '30', '70'],
 ['109', 'Zain', '52', '31', '71'],
 ['110', 'Mohsin', '53', '67', '72'],
 ['111', 'Shahmeer', '54', '68', '73'],
 ['112', 'Rao', '55', '69', '74'],
 ['113', 'Aurangzeb', '56', '70', '75'],
 ['114', 'Zeeshan', '57', '71', '76'],
 ['115', 'Hamna', '58', '72', '77'],
 ['116', 'Hamza', '59', '73', '78'],
 ['117', 'Khalid', '60', '74', '79'],
 ['118', 'Behroz', '61', '75', '80'],
 ['119', 'Justin', '62', '76', '81'],
 ['120', 'Danish', '63', '77', '82'],
 ['121', 'Kainat', '64', '78', '83'],
 ['122', 'Sameer', '65', '79', '84'],
 ['123', 'Raza', '66', '80', '85'],
 ['124', 'Kumar', '67', '81', '86'],
 ['125', 'Komal', '68', '82', '87'],
 ['126', 'Erum', '69', '83', '88'],
 ['127', 'Faiza', '70', '84', '89'],
 ['128', 'Saeed', '71', '85', '90'],
 ['129', 'Waqar', '72', '86', '91'],
 ['130', 'Wali', '73', '87', '92'],
 ['131', 'Wajid', '74', '88', '93'],
 ['132', 'Waseeb', '75', '89', '94'],
 ['133', 'Shiza', '76', '90', '95'],
 ['134', 'Shabina', '77', '91', '96'],
 ['135', 'Shazain', '78', '55', '97'],
 ['136', 'Lubna', '79', '61', '98'],
 ['137', 'Laiba', '80', '88', '78'],
 ['138', 'Khursheed', '81', '56', '45'],
 ['139', 'Ali', '82', '89', '46'],
 ['140', 'Aiza', '83', '45', '89'],
 ['141', 'Aiman', '84', '92', '78'],
 ['142', 'Yasmeen', '85', '36', '56'],
 ['143', 'Tasbeel', '86', '78', '78'],
 ['144', 'Laraib', '87', '56', '54'],
 ['145', 'Saleem', '88', '78', '78'],
 ['146', 'Bismil', '89', '89', '46'],
 ['147', 'Batool', '90', '56', '79'],
 ['148', 'Iqra', '91', '33', '46'],
 ['149', 'Zarnish', '92', '78', '45'],
 ['150', 'Zara', '83', '45', '56']]

# PHYSICS MARKS AVERAGE

In [9]:
phy_marks = []
for marks in company_data:
    phy_marks.append(float(marks[3]))

phy_marks

[23.0,
 24.0,
 25.0,
 26.0,
 27.0,
 28.0,
 29.0,
 30.0,
 31.0,
 67.0,
 68.0,
 69.0,
 70.0,
 71.0,
 72.0,
 73.0,
 74.0,
 75.0,
 76.0,
 77.0,
 78.0,
 79.0,
 80.0,
 81.0,
 82.0,
 83.0,
 84.0,
 85.0,
 86.0,
 87.0,
 88.0,
 89.0,
 90.0,
 91.0,
 55.0,
 61.0,
 88.0,
 56.0,
 89.0,
 45.0,
 92.0,
 36.0,
 78.0,
 56.0,
 78.0,
 89.0,
 56.0,
 33.0,
 78.0,
 45.0]

In [10]:
sum(phy_marks)

3253.0

In [11]:
len(phy_marks)

50

In [12]:
avg_phy_marks = round(sum(phy_marks)/len(phy_marks),1)
avg_phy_marks

65.1

# MATHS MARKS AVERAGE

In [14]:
maths_marks = []
for marks in company_data:
    maths_marks.append(float(marks[4]))

maths_marks

[87.0,
 88.0,
 89.0,
 90.0,
 67.0,
 68.0,
 69.0,
 70.0,
 71.0,
 72.0,
 73.0,
 74.0,
 75.0,
 76.0,
 77.0,
 78.0,
 79.0,
 80.0,
 81.0,
 82.0,
 83.0,
 84.0,
 85.0,
 86.0,
 87.0,
 88.0,
 89.0,
 90.0,
 91.0,
 92.0,
 93.0,
 94.0,
 95.0,
 96.0,
 97.0,
 98.0,
 78.0,
 45.0,
 46.0,
 89.0,
 78.0,
 56.0,
 78.0,
 54.0,
 78.0,
 46.0,
 79.0,
 46.0,
 45.0,
 56.0]

In [15]:
sum(maths_marks)

3868.0

In [16]:
len(maths_marks)

50

In [17]:
avg_maths_marks = sum(maths_marks)/len(maths_marks)
avg_maths_marks

77.36

# PERCENTAGE PRACTICE

In [19]:
for per in company_data:
    chem = int(per[2])
    phy = int(per[3])
    maths = int(per[4])
    percentage = round((chem+phy+maths)*100/300,2)
    per.append(percentage)

In [20]:
company_data

[['101', 'Aliza', '50', '23', '87', 53.33],
 ['102', 'Fareed', '45', '24', '88', 52.33],
 ['103', 'Basit', '46', '25', '89', 53.33],
 ['104', 'Abdullah', '47', '26', '90', 54.33],
 ['105', 'Ali', '48', '27', '67', 47.33],
 ['106', 'Mubashir', '49', '28', '68', 48.33],
 ['107', 'Waleed', '50', '29', '69', 49.33],
 ['108', 'Mansoor', '51', '30', '70', 50.33],
 ['109', 'Zain', '52', '31', '71', 51.33],
 ['110', 'Mohsin', '53', '67', '72', 64.0],
 ['111', 'Shahmeer', '54', '68', '73', 65.0],
 ['112', 'Rao', '55', '69', '74', 66.0],
 ['113', 'Aurangzeb', '56', '70', '75', 67.0],
 ['114', 'Zeeshan', '57', '71', '76', 68.0],
 ['115', 'Hamna', '58', '72', '77', 69.0],
 ['116', 'Hamza', '59', '73', '78', 70.0],
 ['117', 'Khalid', '60', '74', '79', 71.0],
 ['118', 'Behroz', '61', '75', '80', 72.0],
 ['119', 'Justin', '62', '76', '81', 73.0],
 ['120', 'Danish', '63', '77', '82', 74.0],
 ['121', 'Kainat', '64', '78', '83', 75.0],
 ['122', 'Sameer', '65', '79', '84', 76.0],
 ['123', 'Raza', '66', '80', '85', 77.0],
 ['124', 'Kumar', '67', '81', '86', 78.0],
 ['125', 'Komal', '68', '82', '87', 79.0],
 ['126', 'Erum', '69', '83', '88', 80.0],
 ['127', 'Faiza', '70', '84', '89', 81.0],
 ['128', 'Saeed', '71', '85', '90', 82.0],
 ['129', 'Waqar', '72', '86', '91', 83.0],
 ['130', 'Wali', '73', '87', '92', 84.0],
 ['131', 'Wajid', '74', '88', '93', 85.0],
 ['132', 'Waseeb', '75', '89', '94', 86.0],
 ['133', 'Shiza', '76', '90', '95', 87.0],
 ['134', 'Shabina', '77', '91', '96', 88.0],
 ['135', 'Shazain', '78', '55', '97', 76.67],
 ['136', 'Lubna', '79', '61', '98', 79.33],
 ['137', 'Laiba', '80', '88', '78', 82.0],
 ['138', 'Khursheed', '81', '56', '45', 60.67],
 ['139', 'Ali', '82', '89', '46', 72.33],
 ['140', 'Aiza', '83', '45', '89', 72.33],
 ['141', 'Aiman', '84', '92', '78', 84.67],
 ['142', 'Yasmeen', '85', '36', '56', 59.0],
 ['143', 'Tasbeel', '86', '78', '78', 80.67],
 ['144', 'Laraib', '87', '56', '54', 65.67],
 ['145', 'Saleem', '88', '78', '78', 81.33],
 ['146', 'Bismil', '89', '89', '46', 74.67],
 ['147', 'Batool', '90', '56', '79', 75.0],
 ['148', 'Iqra', '91', '33', '46', 56.67],
 ['149', 'Zarnish', '92', '78', '45', 71.67],
 ['150', 'Zara', '83', '45', '56', 61.33]]

In [21]:
data[0].append("Precentage")

In [22]:
data

[['roll no', 'Name', 'Chemistry', 'Physics', 'Math', 'Precentage'],
 ['101', 'Aliza', '50', '23', '87', 53.33],
 ['102', 'Fareed', '45', '24', '88', 52.33],
 ['103', 'Basit', '46', '25', '89', 53.33],
 ['104', 'Abdullah', '47', '26', '90', 54.33],
 ['105', 'Ali', '48', '27', '67', 47.33],
 ['106', 'Mubashir', '49', '28', '68', 48.33],
 ['107', 'Waleed', '50', '29', '69', 49.33],
 ['108', 'Mansoor', '51', '30', '70', 50.33],
 ['109', 'Zain', '52', '31', '71', 51.33],
 ['110', 'Mohsin', '53', '67', '72', 64.0],
 ['111', 'Shahmeer', '54', '68', '73', 65.0],
 ['112', 'Rao', '55', '69', '74', 66.0],
 ['113', 'Aurangzeb', '56', '70', '75', 67.0],
 ['114', 'Zeeshan', '57', '71', '76', 68.0],
 ['115', 'Hamna', '58', '72', '77', 69.0],
 ['116', 'Hamza', '59', '73', '78', 70.0],
 ['117', 'Khalid', '60', '74', '79', 71.0],
 ['118', 'Behroz', '61', '75', '80', 72.0],
 ['119', 'Justin', '62', '76', '81', 73.0],
 ['120', 'Danish', '63', '77', '82', 74.0],
 ['121', 'Kainat', '64', '78', '83', 75.0],
 ['122', 'Sameer', '65', '79', '84', 76.0],
 ['123', 'Raza', '66', '80', '85', 77.0],
 ['124', 'Kumar', '67', '81', '86', 78.0],
 ['125', 'Komal', '68', '82', '87', 79.0],
 ['126', 'Erum', '69', '83', '88', 80.0],
 ['127', 'Faiza', '70', '84', '89', 81.0],
 ['128', 'Saeed', '71', '85', '90', 82.0],
 ['129', 'Waqar', '72', '86', '91', 83.0],
 ['130', 'Wali', '73', '87', '92', 84.0],
 ['131', 'Wajid', '74', '88', '93', 85.0],
 ['132', 'Waseeb', '75', '89', '94', 86.0],
 ['133', 'Shiza', '76', '90', '95', 87.0],
 ['134', 'Shabina', '77', '91', '96', 88.0],
 ['135', 'Shazain', '78', '55', '97', 76.67],
 ['136', 'Lubna', '79', '61', '98', 79.33],
 ['137', 'Laiba', '80', '88', '78', 82.0],
 ['138', 'Khursheed', '81', '56', '45', 60.67],
 ['139', 'Ali', '82', '89', '46', 72.33],
 ['140', 'Aiza', '83', '45', '89', 72.33],
 ['141', 'Aiman', '84', '92', '78', 84.67],
 ['142', 'Yasmeen', '85', '36', '56', 59.0],
 ['143', 'Tasbeel', '86', '78', '78', 80.67],
 ['144', 'Laraib', '87', '56', '54', 65.67],
 ['145', 'Saleem', '88', '78', '78', 81.33],
 ['146', 'Bismil', '89', '89', '46', 74.67],
 ['147', 'Batool', '90', '56', '79', 75.0],
 ['148', 'Iqra', '91', '33', '46', 56.67],
 ['149', 'Zarnish', '92', '78', '45', 71.67],
 ['150', 'Zara', '83', '45', '56', 61.33]]

In [24]:
file_open = open("file.csv", mode="w", newline="")
file_open

In [26]:
writer = csv.writer(file_open)
writer

In [28]:
writer.writerows(data)

In [30]:
file_open.close()